<div id="footer" class="container-fluid mx-auto mt-5 p-1 my-bg rounded-top">
    <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 my-3 col-12 px-4 d-flex">
            <div class="h4 font-title fw-bold my-auto"> Hotel</div>
        </div>
        <div class="col-md-4 my-3 col-12 px-4 text-end">
            <div class="h6">Contact Us:</div>
            <div class="h6">0922848801</div>
            <div class="h6">hoteltt11@gmail.com</div>
        </div>
    </div>
    <hr class="my-3"> <!-- Giảm độ dày của đường ngang -->
    <div class="row">
        <div class="col-12 text-center">
            <p>&copy; 2024 Hotel . All rights reserved.</p>
        </div>
        <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .social-icons {
        display: flex; /* Sử dụng Flexbox để căn giữa các biểu tượng */
        justify-content: center; /* Căn giữa các biểu tượng */
        margin-top: 10px; /* Khoảng cách từ dòng chữ đến các biểu tượng */
    }

        .social-icon {
        font-size: 1.5rem;
        margin: 0 15px; /* Khoảng cách giữa các biểu tượng */
        color: #5dade2; /* Màu trắng cho biểu tượng */
        transition: color 0.3s ease;
        text-decoration: none; /* Loại bỏ gạch chân */
    }

    .social-icon:hover {
        color: #1f3a5a; /* Màu vàng sáng cho hiệu ứng hover */
        cursor: pointer;
    }
    .container-fluid {
        padding: 20px 50px; /* Giảm padding để footer trông gọn gàng hơn */
    }

    /* Responsive: Các phần tử trong footer tự động căn chỉnh ở các thiết bị nhỏ */
    @media (max-width: 768px) {
        .footer-contact {
            text-align: center;
        }

        .social-icons {
            text-align: center;
        }
    }
</style>