{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5 w-100 my-bg rounded-5">
    <div class="row m-0 d-flex justify-content-evenly flex-wrap">
        <!-- Phần hình ảnh -->
        <div class="col-lg-6 col-sm-12 p-0">
            <div class="image-container">
                <img class="img-fluid p-4 rounded-3 shadow-lg" src="{{ rooms[0].image }}" alt="Room Image"/>
            </div>
        </div>

        <!-- Phần thông tin phòng -->
        <div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center p-4">
            <div class="room-details">
                <h1 class="display-6 font-title text-start text-uppercase fw-bold text-primary">{{ rooms[0].name }}</h1>
                <p class="m-0"><i class="fa-solid fa-user-group"></i> : 1-{{ rooms[0].max_people }} khách</p>
                <p class="m-0"><i class="fa-solid fa-wallet"></i> : {{ "{:,.0f}".format(rooms[0].price) }} VNĐ/ngày</p>

                <div class="description mt-4">
                    <p><strong>Mô tả:</strong> {{ rooms[0].description }}</p>
                </div>

                <div class="amenities mt-3">
                    <h5 class="text-secondary">Tiện nghi nổi bật:</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa-solid fa-bed"></i> Giường đôi lớn</li>
                        <li><i class="fa-solid fa-shower"></i> Phòng tắm riêng với vòi sen</li>
                        <li><i class="fa-solid fa-tv"></i> Tivi màn hình phẳng</li>
                        <li><i class="fa-solid fa-wifi"></i> Wi-Fi miễn phí</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/nav2.js') }}"></script>
{% endblock %}
